@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

@{

    ViewData["Title"] = "Home Page";

}

@* <div class="text-center"> *@

@*     <h1 class="display-4">Welcome</h1> *@

@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

@* </div> *@


@* @{ *@

@*     if (Context.Request.Method == "POST") *@

@*     { *@

@*         string name = Context.Request.Form["Name"]; *@

@*         string contact = Context.Request.Form["Contact"]; *@

@*         <p> *@
@*             Entered data is:<br /> *@

@*             Name:@name<br /> *@

@*             Contact Number:@contact *@
@*         </p> *@
@*         <br /> *@


@*     } *@

@*     else *@

@*     { *@
@*         <form method="post" action=""> *@
@*             <p>Person name:</p><br /> *@
@*             <input type="text" name="Name" value=""><br /> *@
@*             <p>Contact Number is:</p><br /> *@
@*             <input type="text" name="Contact" value="" /><br /> *@
@*             <input type="submit" value="submit" /><br /> *@


@*         </form> *@

@*     } *@

@* } *@
